/* responsive */
@media (max-width:1035px) {
    .home{
        height:101svb !important;
    }
    .home input{
        width: 75% !important;
    }
}

@media (max-width:600px) {
    .home>div{
        width: 75% !important;
    }
    .home input{
        width: 90% !important;
    }
}